
.vs/FoodsReview/FileContentIndex/83aef368-63f4-4080-8f32-f10959a4839a.vsidx

.vs/FoodsReview/FileContentIndex/69b14fc2-4f33-4f5c-a010-30916adebe05.vsidx

.vs/FoodsReview/FileContentIndex/8a2aef49-f3db-4561-bcc3-8244399ae044.vsidx

.vs/FoodsReview/FileContentIndex/97b13b38-f692-4386-9ca6-9def5de3a6c3.vsidx

.vs/FoodsReview/FileContentIndex/c91c9dd3-5f88-48b8-b53d-cafd9d175803.vsidx

.vs/FoodsReview/FileContentIndex/cf90fa15-0cf4-45a8-b9ae-fb4d2de8416c.vsidx

.vs/FoodsReview/FileContentIndex/95ff7b1a-3a58-41a1-9473-7fc13bd4b2e2.vsidx

.vs/FoodsReview/FileContentIndex/a8a64d99-fae5-4896-b0d2-ae55d9143075.vsidx

.vs/FoodsReview/FileContentIndex/ff6fd342-9d4b-48a4-b451-95ce7d5df3e8.vsidx

.vs/FoodsReview/FileContentIndex/ffe90162-5f7e-4db4-91be-2e3e00a74cce.vsidx

*.cache

*.vsidx

bin/

Properties/

obj/

.vs/

.config/
